# 5. Hell Sql questions

In this section we will use some very hard sql questions to improve sql query skills

## Configure sql connection

Make sure your database server is up and running

In [2]:
%load_ext sql
%config SqlMagic.autocommit=False
%config SqlMagic.autolimit=20
%config SqlMagic.displaylimit=20
%sql postgresql://pliu:northwind@127.0.0.1:5432/northwind

## 5.1 Customer grouping

Andrew Fuller, the VP of sales at Northwind, would like to do a sales campaign for existing customers. He'd like
to categorize customers into groups, based on how much they ordered in 1998. Then, depending on which group
the customer is in, he will target the customer with different sales materials.

The customer grouping categories are:
- 0 to 1,000: Low, 
- 1,000 to 5,000: Medium, 
- 5,000 to 10,000: High, 
- and over 10,000: Very_High.

A good starting point for this query is the answer from the problem “High-value customers - total orders. We
don’t want to show customers who don’t have any orders in 1998. Order the results by CustomerID.

Your result rows should look like:

```text
 customer_id |            company_name            | total_order_amount | customer_group 
-------------+------------------------------------+--------------------+----------------
 ALFKI       | Alfreds Futterkiste                |            2302.20 | Medium
 ANATR       | Ana Trujillo Emparedados y helados |             514.40 | Low
 ANTON       | Antonio Moreno Taquería            |             660.00 | Low
 AROUT       | Around the Horn                    |            5838.50 | High
 BERGS       | Berglunds snabbköp                 |            8110.55 | High
 BLAUS       | Blauer See Delikatessen            |            2160.00 | Medium
 BLONP       | Blondesddsl père et fils           |             730.00 | Low

```

You should have 81 rows in your result

### Hint

Get the total_order_amount of all customers that placed an order at 1998 first. Then use the **case when operation** to  create the column customer_group based on the rule given above.

Note when comparing the total_order_amount you can use **>, =< or between**. But between works fine for integer values not for money

```sql
with total_orders as (
    select o.customer_id,  round(cast(sum(unit_price*quantity) as numeric),2) as total_order_amount
    from orders o
    join order_details od
    on o.order_id=od.order_id
    where (extract(YEAR from order_date))=1998
    group by o.customer_id
    )


select c.customer_id, c.company_name, total_order_amount,
(case
    when total_order_amount between 0 and 1000 then 'Low'
    when total_order_amount between 1001 and 5000 then 'Medium'
    when total_order_amount between 5001 and 10000 then 'High'
    when (total_order_amount>=10000) then 'Very High'
 end
) as customer_group 
from total_orders t
join customers c
on t.customer_id=c.customer_id
order by c.customer_id;
```

In [42]:
%%sql

with total_orders as (
    select o.customer_id,  round(cast(sum(unit_price*quantity) as numeric),2) as total_order_amount
    from orders o
    join order_details od
    on o.order_id=od.order_id
    where (extract(YEAR from order_date))=1998
    group by o.customer_id
    )


select c.customer_id, c.company_name, total_order_amount,
(case
    when (total_order_amount<1000) and (total_order_amount>=0) then 'Low'
    when (total_order_amount<5000) and (total_order_amount>=1000) then 'Medium'
    when (total_order_amount<10000) and (total_order_amount>=5000) then 'High'
    when (total_order_amount>=10000) then 'Very High'
 else 'unknown'
 end
) as customer_group 
from customers c
join total_orders t
on t.customer_id=c.customer_id
order by c.customer_id;

 * postgresql://pliu:***@127.0.0.1:5432/northwind
81 rows affected.

[('ALFKI', 'Alfreds Futterkiste', Decimal('2302.20'), 'Medium'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', Decimal('514.40'), 'Low'),
 ('ANTON', 'Antonio Moreno Taquería', Decimal('660.00'), 'Low'),
 ('AROUT', 'Around the Horn', Decimal('5838.50'), 'High'),
 ('BERGS', 'Berglunds snabbköp', Decimal('8110.55'), 'High'),
 ('BLAUS', 'Blauer See Delikatessen', Decimal('2160.00'), 'Medium'),
 ('BLONP', 'Blondesddsl père et fils', Decimal('730.00'), 'Low'),
 ('BOLID', 'Bólido Comidas preparadas', Decimal('280.00'), 'Low'),
 ('BONAP', "Bon app'", Decimal('7185.90'), 'High'),
 ('BOTTM', 'Bottom-Dollar Markets', Decimal('12227.40'), 'Very High'),
 ('BSBEV', "B's Beverages", Decimal('2431.00'), 'Medium'),
 ('CACTU', 'Cactus Comidas para llevar', Decimal('1576.80'), 'Medium'),
 ('CHOPS', 'Chop-suey Chinese', Decimal('4429.40'), 'Medium'),
 ('COMMI', 'Comércio Mineiro', Decimal('513.75'), 'Low'),
 ('CONSH', 'Consolidated Holdings', Decimal('931.50'), 'Low'),
 ('DRACD', 'Drachenblut Delikatessen', Decimal('2809.61'), 'Medium'),
 ('DUMON', 'Du monde entier', Decimal('860.10'), 'Low'),
 ('EASTC', 'Eastern Connection', Decimal('9569.31'), 'High'),
 ('ERNSH', 'Ernst Handel', Decimal('42598.90'), 'Very High'),
 ('FOLKO', 'Folk och fä HB', Decimal('15973.85'), 'Very High')]

## 5.2

Your result rows should look like:

```text
 
```

### Hint

In [41]:
%%sql

 * postgresql://pliu:***@127.0.0.1:5432/northwind
81 rows affected.

[('ALFKI', 'Alfreds Futterkiste', Decimal('2302.20'), 'Medium'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', Decimal('514.40'), 'Low'),
 ('ANTON', 'Antonio Moreno Taquería', Decimal('660.00'), 'Low'),
 ('AROUT', 'Around the Horn', Decimal('5838.50'), 'High'),
 ('BERGS', 'Berglunds snabbköp', Decimal('8110.55'), 'High'),
 ('BLAUS', 'Blauer See Delikatessen', Decimal('2160.00'), 'Medium'),
 ('BLONP', 'Blondesddsl père et fils', Decimal('730.00'), 'Low'),
 ('BOLID', 'Bólido Comidas preparadas', Decimal('280.00'), 'Low'),
 ('BONAP', "Bon app'", Decimal('7185.90'), 'High'),
 ('BOTTM', 'Bottom-Dollar Markets', Decimal('12227.40'), 'Very High'),
 ('BSBEV', "B's Beverages", Decimal('2431.00'), 'Medium'),
 ('CACTU', 'Cactus Comidas para llevar', Decimal('1576.80'), 'Medium'),
 ('CHOPS', 'Chop-suey Chinese', Decimal('4429.40'), 'Medium'),
 ('COMMI', 'Comércio Mineiro', Decimal('513.75'), 'Low'),
 ('CONSH', 'Consolidated Holdings', Decimal('931.50'), 'Low'),
 ('DRACD', 'Drachenblut Delikatessen', Decimal('2809.61'), 'Medium'),
 ('DUMON', 'Du monde entier', Decimal('860.10'), 'Low'),
 ('EASTC', 'Eastern Connection', Decimal('9569.31'), 'High'),
 ('ERNSH', 'Ernst Handel', Decimal('42598.90'), 'Very High'),
 ('FOLKO', 'Folk och fä HB', Decimal('15973.85'), 'Very High')]

## 5.3

Your result rows should look like:

```text
 
```

### Hint

## 5.4

Your result rows should look like:

```text
 
```

### Hint

## 5.5

Your result rows should look like:

```text
 
```

### Hint

## 5.6

Your result rows should look like:

```text
 
```

### Hint